.summary {
    text-align: center;
    max-width: 100%;
    width: 100%;
    height: 50vh;
    margin: auto;
    margin-top: -24rem;
    position: relative;
    background-color: rgba(233, 229, 222, 0.4);
    color: rgba(23, 25, 28, 1);
    /* border-radius: 8px; */
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.1);
  }
  
  .summary h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }
  .summary p {
    font-size: 1.2rem;
    font-weight: 600;
  }